//
//  Config.xcconfig
//  CA
//
//  Created by Henry on 10/14/24.
//


MOVIE_API = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzNTI1NDE0ZDQxN2U0MzY4MzJkOWY0NGU5ZWI3MDY3OSIsIm5iZiI6MTcyODI4NDM2Mi44NjEwNDYsInN1YiI6IjY2ZmEwZmZiMzkzY2RhMWQxZGNjNmRiZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.kBF7TNn8-7CQdUiP2HTw4UuZNkuJPZBf_IG3Kid0d5A
